<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAS</title>
</head>
<body bgcolor="black">
    <h1 style="font-size: 50px; text-align: center;font-style: Ebrima;color: white"><b>Trusted By 500+ businesses</b></h1>
    <p style="text-align: center; font-size: 30px;color:grey"> Explore on the world's best & largest Bidding marketplace with our beautiful Bidding <br> products. We want to be a part of your smile, success and future growth.</p>
    <img src="{% static 'img8.png' %}" width=1700>
</body>
</html>